

<a asp-action="GetInstCoursAndStdReport" asp-controller="Reports" asp-route-instId="6">GetInstCoursAndStdReport</a>
<a asp-action="GetStudentGradesReport" asp-controller="Reports" asp-route-stdId="2">GetStudeGetStudentGradesReport</a>
<a asp-action="GetStudentsByDeptNums" asp-controller="Reports" asp-route-deptNum="1">GetStudentsByDeptNums</a>
<a asp-action="GetCourseTopics" asp-controller="Reports" asp-route-crsId="3">GetCourseTopics</a>
<a asp-action="get_exam_questions_with_student_answers" asp-controller="Reports" asp-route-examNum="1" asp-route-stdId="2">get_exam_questions_with_student_answers</a>
<a asp-action="GetExamChoices" asp-controller="Reports" asp-route-stdId="1">
    GetExamChoices
</a>
